node_modules/

# Backup DB container
pg-data/
pg-dumps/

# Python Venv
venv/
*.pyc

# Django static files
static/
!mundolunar/static

*sublime*
*.sqlite3

# env data
.env

# Random commands
.helper

# Terraform
terraform/.terraform/
terraform/docker-compose.yml
*.tfstate*