node_modules/

# Backup DB container
pg-data/
pg-dumps/

# Python Venv
venv/
*.pyc

# Django static files
static/
!mundolunar/static

*sublime*
*.sqlite3

# env data
.env

# Random commands
.helper

# Terraform
terraform/.terraform/
terraform/.terraform.lock.*
terraform/docker-compose.yml
*.tfstate*

# Docker compose Postgres
docker-compose.yml

# Environment Settings 
manage.py
mundolunar_proj/wsgi.py

mundolunar/settings/dev.py
mundolunar/settings/production.py
