{% load wagtailcore_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Lunar</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <script src="{% static 'vendor/vue.global.js' %}" defer></script>
    <script src="{% static 'js/fetch_songs.js' %}" defer></script>
</head>
<body>
    <div id="up" @click.prevent="close">m</div>
    <div id="main">
        
        <div class="cell index" @click.prevent="navigate('index')">
            <img src="{% static 'img/pic1.png' %}" alt="">
        </div>
        <div class="cell"></div>
        <div class="cell sobre no-margin" @click.prevent="navigate('sobre')">
            <img src="{% static 'img/pic8.png' %}" alt="">
        </div>

        <!-- MENU MÚSICAS -->

        <section class="content index">
            <ul class="songs">
            {% for song in songs|slice:":3" %}
                <li>
                    <a href="#" @click.prevent="fetchSong('{{song.slug}}')">{{song.title}}</a>
                </li>
            {% endfor %}
            </ul>
            <ul class="songs">
            {% for song in songs|slice:"3:" %}
                <li>
                    <a href="#" @click.prevent="fetchSong('{{song.slug}}')">{{song.title}}</a>
                </li>
            {% endfor %}
            </ul>
            <a href="#" class="close" @click.prevent="close">
                <img src="{% static 'img/x_icon.svg' %}" alt="">
            </a>
        </section>

        <!-- TEXTO -->

        <section class="content sobre">
            <h2>{{ sobre.specific.title }}</h2>
            {{ sobre.specific.body|richtext }}
            <a href="#" class="close" @click.prevent="close">
                <img src="{% static 'img/x_icon.svg' %}" alt="">
            </a>
        </section>
        
        <div class="cell blue"></div>
        <div class="cell song-destaque" @click.prevent="navigate('song-destaque')">
            <img src="{% static 'img/pic4.png' %}" alt="">
        </div>
        <div class="cell no-margin green"></div>

        <!-- MÚSICA INDIVIDUAL CLICADA NO MENU -->

        <section class="content song">
            <h2>[[song.title]]</h2>
            <div></div>
            <dl>
                <dt>Música e letra</dt>
                <dd>[[song.autoria]]</dd>

                <dt>Softwares</dt>
                <dd>[[song.equipamentos]]</dd>

                <dt>Instrumentos</dt>
                <dd>[[song.instrumentos]]</dd>

                <dt>Clima da canção</dt>
                <dd>[[song.clima]]</dd>

                <dt>Data da gravação</dt>
                <dd>[[song.data_gravacao]]</dd>
            </dl>
            <nav>
                <span class="anterior">
                    <a href="#" :class="{ disabled: !song.anterior }" @click.prevent="fetchSong([[song.anterior]])">< Anterior</a>
                </span>
                <span class="proxima">
                    <a href="#" :class="{ disabled: !song.proxima }" @click.prevent="fetchSong([[song.proxima]])">Próxima ></a>
                </span>
            </nav>
            <a href="#" class="close" @click.prevent="close()">
                <img src="{% static 'img/x_icon.svg' %}" alt="">
            </a>
        </section>

        <!-- MÚSICA DESTAQUE -->

        <section class="content song-destaque">
            <h2>{{ destaque.title }}</h2>
            {{ destaque.specific.body|richtext }}
            <dl>
                <dt>Música e letra</dt>
                <dd>{{destaque.specific.autoria}}</dd>

                <dt>Softwares</dt>
                <dd>{{destaque.specific.equipamentos}}</dd>

                <dt>Instrumentos</dt>
                <dd>{{destaque.specific.instrumentos}}</dd>

                <dt>Clima da canção</dt>
                <dd>{{destaque.specific.clima}}</dd>

                <dt>Data da gravação</dt>
                <dd>{{destaque.specific.data_gravacao}}</dd>
            </dl>
            <a href="#" class="close" @click.prevent="close()">
                <img src="{% static 'img/x_icon.svg' %}" alt="">
            </a>
        </section>

        <div class="cell"></div>
        <div class="cell blue"></div>
        <div class="cell no-margin blue"></div>

        <footer>
            <div>
                <h4>mundo lunar</h4>
                <nav>
                    <ul>
                        <li><a href="#" @click.prevent="navigate('index')">Index</a></li>
                        <li><a href="#" @click.prevent="navigate('song-destaque')">{{destaque.title}}</a></li>
                        <li><a href="https://soundcloud.com/pierre-dechery" target="_blank">Soundcloud</a></li>
                    </ul>
                </nav>
            </div>
        </footer>
    
    </div>

</body>
</html>